@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');


:root {
  /* Colors */
  --color-primary: #181818;
  --color-secondary: #F5F5F5;

  /* Fonts */
  --font-primary: 'Playfair Display', serif;
  --font-secondary: 'Montserrat', sans-serif;

  /* Heights */
  --nav-height: 10vh;
}

.dark-theme {
  --color-primary: #F5F5F5;
  --color-secondary: #181818;
}

p {
    white-space: pre-line;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-primary);
  background-color: var(--color-secondary);
  color: var(--color-primary);
  min-height: 100%;
}

.main-content {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  min-height: 100vh;
}

  p, dt, dd {
  font-family: var(--font-secondary);
  font-size: 18px;
  font-weight: 100;
}

/* ===== Header Navigation ===== */
.navigation {
  position: fixed;
  top: 0; left: 0; right: 0;
  height: auto;
  padding: 3vh 10vw;
  z-index: 200;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  font-family: var(--font-secondary);
  font-size: 25;
  font-weight: 100;
  transform: translateY(0);
  transition: transform 0.35s cubic-bezier(0.25, 0.1, 0.25, 1); 
}

.nav-link:hover,
.nav-link:focus {
  transform: translateY(-2px);
}

.nav-link-home {
  font-family: var(--font-primary);
  font-size: 8vh;
  font-weight: 400;
}

.nav-icon {
  height: 4vw;
  object-fit: contain;
  display: block;
}

.nav-link,
.nav-icon {
  background: none;   /* make sure nothing adds a background */
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== Compontent styling ===== */

.work-card {
  display: flex;
  justify-content: center;
  height: 50vh;
}

.work-card img {
  height: 50vh;
  object-fit: cover;
}

