@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');


:root {
  /* Colors */
  --color-primary: #181818;
  --color-secondary: #ffffff;

  /* Fonts */
  --font-primary: 'Playfair Display', serif;
  --font-secondary: 'Montserrat', sans-serif;
}

.dark-theme {
  --color-primary: #ffffff;
  --color-secondary: #181818;
}

body {
  margin: 0;
  font-family: var(--font-primary);
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.main-content {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  margin-top: 100px;
}

/* ===== Header Navigation ===== */
.navigation {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 50;
  height: var(--nav-height);
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.nav-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 250px;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  font-family: var(--font-secondary);
  font-size: 25;
  font-weight: 300;
  transform: translateY(0);
  transition: transform 0.35s cubic-bezier(0.25, 0.1, 0.25, 1); 
}

.nav-link:hover,
.nav-link:focus {
  transform: translateY(-2px);
}

.nav-link-home {
  font-family: var(--font-primary);
  font-size: 50px;
  font-weight: 400;
}