@import "swiper/css";

.artist-list .swiper-wrapper {
  align-items: center;
}

/* Slide layout is the max size */
.artist-list .swiper-slide {
  width: 170px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.75s ease;
}

/* Image fills the slide, actual size controlled by scale */
.artist-list .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

 .artist-list .carousel-viewport {
  width: 100%;
  overflow: hidden;  /* this is the key */
  position: relative;
}

.artist-list .carousel-track {
  margin-left: -25%; /* adjust as needed */
}

.artist-list .slide-inner {
  position: relative;
  width: 340px;   /* should match slideWidth in JS */
  height: 430px;  /* height of main image */
}

.artist-list .slide-inner img.signature-image {
  height: 200px;
  width: 200px;
}

.artist-list .signature-image {
  position: absolute;
  left: 50%;
  bottom: -180px;   /* below the card area */
  opacity: 0;      /* invisible when not active */
  z-index: 1;      /* behind the main image */
  pointer-events: none;
  will-change: transform, opacity;
}

.artist-list .signature-image img {
  height: 20px;
  width: 20px;
}