/* ==============================================
   Home Page
   ============================================== */

.home-page .home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.home-page .home-section .home-logo {
  height: 80vh;
  max-width: 90vw;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .home-page .home-section .home-logo {
    height: 70vh;
  }
}
