.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.works-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.works-title img {
    height: 25vh;
    object-fit: cover;
}